pnpm-*.yaml
node_modules/
lib/
.tmp/
examples/*/dist/
examples/*/public/
examples/*/workspace/
packages/vscode-snippet-parser/src/charCode.ts
packages/vscode-snippet-parser/src/snippetParser.ts
.github/workflows/*.yml
